<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About Us</title>
</head>
<body>
    <h1>Database and Firebase Auth Example</h1>
    <h4>User Guide</h4>

    <p>This application displays the timestamps of the last 10 times you visited this page.</p>
    <p> You can sign in using any of the options listed to view your history of visits.</p>
    <ul>
        <li>Sign in with Google</li>
        <li>Sign in with email</li>
        <li>Sign in with Facebook</li>
    </ul>

 <a href="/">Back</a>
</body>
</html>